
/* Phones */
@media only screen and (min-width: 320px){
	.content{
		overflow: auto;
	}

	.dashboard-container{
		display: inline-block;
		position: relative;
		width: 100%;
		height: 49%;
		background-color: #ecf0f5;
		margin-bottom: 5px;
	}

	.addBtn-img{
		width: 80%;
		height: 100%;	
	}

	.widgetBtnTxt{
		font-size: 0.7em;
	}
}

/* Extra small devices */
@media only screen and (min-width: 480px){
	
}

/* Small devices, tablets */
@media only screen and (min-width: 768px){
	.dashboard-container{
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 49%;
		height: 49%;
		background-color: #ecf0f5;
		margin: 3px;
	}

	.dashboard-container-with-widget{
		display: inline-block;
		position: relative;
		width: 49%;
		height: 49%;
		background-color: #ecf0f5;
		margin: 3px;
	}

	.addBtn-img{
		width: 100%;
		height: 100%;
	}

	.widgetBtnTxt{
		font-size: 0.8em;
	}
}

/* Medium devices, desktops */
@media only screen and (min-width: 1200px){
	.addBtn-img{
		width: 80%;
		height: 100%;
	}

	.widgetBtnTxt{
		font-size: 1.3em;
	}

	/* Topology Widget */
	.tw-component-div{
		width: 33%;
	}

	.tw-component-text{
		font-size: 0.5vw; 
	}

}

/* Large devices, wide screens */
@media only screen and (min-width: 1500px){
	.widgetBtnTxt{
		font-size: 1.6em;
	}

	/* Topology Widget */
	.tw-component-text{
		font-size: 0.8vw; 
	}
}

/* Common for all resolutions*/

.dashboard-content-container{
	position: relative;

	width: 100%;
}

.addBtn{
	width: 20%;
	height: 20%;
	z-index: 10;
	top: 40%;
	left: 40%;
	position: relative;
	background-color: white;
}

.centerContent{
	text-align: center;
}

.plusIcon{
	color: #3c8dbc;
}

.widgetBtn{
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	z-index: 5;
	background-color: white;
}

.widgetBtnTxt{
	font-family: Arial;
	color: #3c8dbc;
}

.nav-btns{
	position: absolute;
	top: 28%;
	right: 2%;
}

