
/* Phones */
@media only screen and (min-width: 320px){
	.content{
		overflow: auto;
	}

	.dashboard-container{
		display: inline-block;
		position: relative;
		width: 100%;
		height: 49%;
		margin-bottom: 5px;
	}

	.addBtn-icon{
		margin-top: 16%;
		font-size: 1.5em;
	}

	.addBtn-img{
		width: 80%;
		height: 100%;	
	}

	.widgetBtnTxt{
		font-size: 0.7em;
		margin-top: 30%;
	}
}

/* Extra small devices */
@media only screen and (min-width: 480px){
	
}

/* Small devices, tablets */
@media only screen and (min-width: 768px){
	.dashboard-container{
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 49%;
		height: 49%;
		margin: 3px;
	}

	.dashboard-container-with-widget{
		display: inline-block;
		position: relative;
		width: 49%;
		height: 49%;
		margin: 3px;
	}

	.addBtn-icon{
		margin-top: 10%;
		font-size: 3.5em;
	}

	.addBtn-img{
		width: 100%;
		height: 100%;
	}

	.widgetBtnTxt{
		font-size: 0.8em;
	  	margin-top: 33%;
	}

	.widgetBtnTxt-wide{
		margin-top: 17%;

	}

	.order-layout-btns{
		right: 20%;
	}
}

/* Medium devices, desktops */
@media only screen and (min-width: 1200px){
	.addBtn-icon{
		margin-top: 8%;
		font-size: 2.5em;
	}

	.addBtn-img{
		width: 80%;
		height: 100%;
	}

	.widgetBtnTxt{
		font-size: 1.3em;
		margin-top: 20%;
	}

	.widgetBtnTxt-wide{
		margin-top: 12%;
		font-size: 1.3em;
	}

	.order-layout-btns{
		right: 14%;
	}

	/* Topology Widget */
	.tw-component-div{
		width: 33%;
	}

	.tw-component-text{
		font-size: 0.7vw; 
	}

	.tw-connection-path{
		stroke-width: 0.1em;
	}

}

/* Large devices, wide screens */
@media only screen and (min-width: 1500px){
	.addBtn-icon{
		margin-top: 10%;
		font-size: 3.5em;
	}

	.widgetBtnTxt{
		font-size: 1.6em;
		margin-top: 23%;
	}

	.widgetBtnTxt-wide{
		margin-top: 12%;
	}

	/* Topology Widget */
	.tw-component-div{
		width: 28%;
	}

	.tw-component-text{
		font-size: 0.8vw; 
	}
}

/* Common for all resolutions*/
.content-wrapper{
	background-color: #ecf0f5;
}

.dashboard-content-container{
	position: relative;

	width: 100%;
}

.dashboard-container{
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.addBtn{
	width: 20%;
	height: 20%;
	z-index: 10;
	top: 40%;
	left: 40%;
	position: relative;
	background-color: #3c8dbc;
}

.addBtn-icon{
	color: white;
}

.centerContent{
	text-align: center;
}

.roundedEdges{
	border-radius: 3px;
}

.widgetBtn{
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	z-index: 5;
	background-color: #3c8dbc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.widgetBtnTxt{
	position: relative;
	display: inline-block;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: white;
}

.order-layout-btns{
	position: absolute;
	top: 28%;
}

.submit-layout-btns{
	position: absolute;
	top: 28%;
	right: 2%;
}

