
/* Phones */
@media only screen and (min-width: 320px){

}

/* Extra small devices */
@media only screen and (min-width: 480px){
	
}

/* Small devices, tablets */
@media only screen and (min-width: 768px){
	
}

/* Medium devices, desktops */
@media only screen and (min-width: 1200px){
	
}

/* Large devices, wide screens */
@media only screen and (min-width: 1500px){
	
}

/* Common for all resolutions*/

.dashboard-content-container{
	position: relative;

	width: 100%;
}

.dashboard-container{
	display: inline-block;
	position: relative;
}

.dashboard-container-1-1{
	width: 49%;
	height: 49%;

	background-color: #ecf0f5;
}

.dashboard-container-1-2{
	width: 49%;
	height: 49%;

	background-color: #ecf0f5;
}

.dashboard-container-2-1{
	width: 49%;
	height: 49%;

	background-color: #ecf0f5;
}

.dashboard-container-2-2{
	width: 49%;
	height: 49%;

	background-color: #ecf0f5;
}

.addBtn{
	width: 20%;
	height: 20%;

	top: 40%;
	left: 40%;
	position: relative;
	background-color: white;
}

.centerContent{
	text-align: center;
}