html,body{
	height: 100%;
}

.content-container{
	
}

.cell{
	display: inline-block;
	width: 33.33%;
	height: 33.33%;
	position: relative;
}

.cell-container{
	overflow: auto;
	width: 100%;
	height: 100%;
}

.content{
	position: absolute;
}

.box{
}

.box-body{
	height: 100%;
}