/* Phones */
@media only screen and (min-width: 320px){
	.svg-container{
		background-color: red;
	}

	.component-div{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 14px;
		width: 38%;
	}

	.component-text{
		top: 75%;
		left: 0;
		font-size: 2.4vw; 
	}
}

/* Extra small devices */
@media only screen and (min-width: 480px){
	.svg-container{
		background-color: blue;
	}

	.component-div{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 14px;
		width: 38%;
	}

	.component-text{
		top: 75%;
		left: 0;
		font-size: 1.7vw; 
	}
}

/* Small devices, tablets */
@media only screen and (min-width: 768px){
	.svg-container{
		background-color: green;
	}

	.component-div{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 14px;
		width: 33%;
	}

	.component-text{
		top: 75%;
		left: 0;
		font-size: 1.2vw; 
	}
}

/* Large devices, wide screens */
@media only screen and (min-width: 1200px){
	.svg-container{
		background-color: white;
	}

	.component-div{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 14px;
		width: 27%;

	}

	.component-text{
		top: 75%;
		left: 0;
		font-size: 1.2vw; 
	}
}

/* Really large devices, desktops */
@media only screen and (min-width: 1550px){
	.svg-container{
		background-color: yellow;
	}

	.component-div{
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 6%;
		width: 30%;
	}

	.component-text{
		top: 75%;
		left: 0;
		font-size: 1.5vw; 
	}
}

/* Common for all resolutions */

.content{
	position: relative;
}

.svg-container{
	position: absolute;
	opacity: 0.5;
}

.cell-container{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.cell{
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	height: 33.33%;
	position: relative;
	text-align: center;
	border: 1px solid; 
}

.component-div{
	display: inline-block;
	position: relative;
}

.component-img{
	position: relative;
	width: 100%;
	height: 100%;
}

.component-text{
	z-index: 5;
	position: absolute;
	font-family: Arial;
	text-align: center;
	color: black;
	width: 100%;
}


/* Connections */

.connection-path{
	fill: none;
	stroke: black;
	stroke-width: 4;
}



