.left-space10 {
	padding-left: 10px;	
}

.buttonGroup2 {
	width: 47%;
	margin-left: 10px;
}

.buttonGroup3 {
	width: 30.5%;
	margin-left: 10px;
}

.right {
    position: absolute;
    right: 0px;
    margin-right: 15px;
}

