@media only screen and (min-width : 569px) {
	.dashboard-content-container{
		width: 100%;
		height: 100%;	
	}

	.dashboard-container{
		position: relative;
		overflow: auto;
	}

	.dashboard-container-1-1{
		top: 0%;
		margin:0 auto;
		width: 50%;
		height: 50%;
		margin-bottom: 10px;
	}

	.dashboard-container-1-2{
		top: 0%;
		margin:0 auto;
		width: 50%;
		height: 50%;
		margin-bottom: 10px;
	}

	.dashboard-container-1-3{
		top: 0%;
		margin:0 auto;
		width: 50%;
		height: 50%;
		margin-bottom: 10px;
	}

	.dashboard-container-2-1{
		top: 50%;
		float: left;

		width: 49.5%;
		height: 50%;
	}

	.dashboard-container-2-2{
		top: 50%;
		margin-left: 50.5%;

		width: 49%;
		height: 50%;
	}

	.dashboard-container-carousal{
		top: 50%;
		display: inline-block;
		margin-left: 25%;
		width: 49%;
		height: 50%;	
	}
	.dashboard-container-wide{
		width: 99.5%;
		height: 50%;	
	}

	.DocumentList
	{
	    overflow-x:scroll;
	    overflow-y:hidden;
	    width:99.5%;
	    margin-bottom: 20px;
	}

	.DocumentItem
	{
	    border:0px solid black;
	    padding:0;
	    height:auto;
	    width: 99.5%;
	}

	.list-inline {
	  white-space:nowrap;
	}

}