/*@media only screen and (min-width : 768px) {*/

@media only screen and (min-width : 569px) {

	.dashboard-content-container{
		width: 100%;
		height: 100%;	
	}

	.dashboard-container{
		position: relative;
		overflow: auto;
	}

	.chart-position{
		margin: 5px auto 10px auto;
		width: 400px;
		height: 200px;
	}
		.chart-position-details{
		margin: 5px auto 10px auto;
		width: 400px;
		height: 200px;
	}
	.details-custom{
		/*display: none;*/
		width: 100%;
		height: 100%;
	}

	.box{
		margin-bottom: 5px;
	}

	.box:hover {
		-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 3px 5px 3px 0px rgba(0,0,0,0.5);
		box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
	}

	.box-body{
		text-align: center;
		color: black;
	}

}

/*iphone 4, 5, 6 */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)  {
	.chart-position{
		margin: 0px auto 0px auto;
		max-width: 95%;
		height: 200px;
	}

	.box-body {
		margin: 5px auto 2px auto;
		padding: 0px;
	}
}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	
	.chart-position{
		margin: 0px auto 0px auto;
		max-width: 95%;
		height: 200px;
	}
}
