@media only screen and (min-width : 569px) {
	.dashboard-content-container{
		width: 100%;
		height: 100%;	
	}

	.dashboard-container{
		position: relative;
		overflow: auto;
	}

	.corousel-chart-1{
		top: 0%;
		margin:0 auto;
		width: 50%;
		height: 50%;
		margin-bottom: 10px;
	}

	.corousel-chart-2{
		top: 0%;
		margin:0 auto;
		width: 50%;
		height: 50%;
		margin-bottom: 10px;
	}

	.corousel-chart-3{
		top: 0%;
		margin:0 auto;
		width: 50%;
		height: 50%;
		margin-bottom: 10px;
	}

	.dashboard-container-2-1{
		top: 50%;
		float: left;

		width: 49.5%;
		height: 50%;
	}

	.dashboard-container-2-2{
		top: 50%;
		margin-left: 50.5%;

		width: 49%;
		height: 50%;
	}
}