/* Phones */
@media only screen and (min-width: 320px){

	.tw-component-div{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 14px;
		width: 38%;
	}

	.tw-component-text{
		top: 75%;
		left: 0;
		font-size: 2.4vw; 
	}

	.tw-connection-path{
		stroke-width: 0.1em;
	}	
}

/* Extra small devices */
@media only screen and (min-width: 480px){

	.tw-component-div{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 14px;
		width: 38%;
	}

	.tw-component-text{
		top: 75%;
		left: 0;
		font-size: 1.7vw; 
	}

	.tw-connection-path{
		stroke-width: 0.3em;
	}
}

/* Small devices, tablets */
@media only screen and (min-width: 768px){

	.tw-component-div{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 14px;
		width: 33%;
	}

	.tw-component-text{
		top: 75%;
		left: 0;
		font-size: 1.2vw; 
	}

	.tw-connection-path{
		stroke-width: 0.2em;
	}
}

/* Large devices, wide screens */
@media only screen and (min-width: 1200px){

	.tw-component-div{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 14px;
		width: 27%;
	}

	.tw-component-text{
		top: 75%;
		left: 0;
		font-size: 1.2vw; 
	}

	.tw-connection-path{
		stroke-width: 0.3em;
	}
}

/* Really large devices, desktops */
@media only screen and (min-width: 1550px){

	.tw-component-div{
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 6%;
		width: 30%;
	}

	.tw-component-text{
		top: 75%;
		left: 0;
		font-size: 1.5vw; 
	}

	.tw-connection-path{
		stroke-width: 0.3em;
	}
}

/* Common for all resolutions */

.tw-svg-container{
	background-color: #ADD8E6;
	position: absolute;
	opacity: 0.5;
}

.tw-cell-container{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tw-cell{
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	height: 33.33%;
	position: relative;
	text-align: center;
	/*border: 1px solid;*/ 
}

.tw-component-div{
	display: inline-block;
	position: relative;
}

.tw-component-img{
	position: relative;
	width: 100%;
	height: 100%;
}

.tw-component-text{
	z-index: 5;
	position: absolute;
	font-family: Arial;
	text-align: center;
	color: black;
	width: 100%;
}

/* Connections */

.tw-connection-path{
	fill: none;
	stroke: black;
}



