/* Phones */
@media only screen and (min-width: 320px){

}

/* Extra small devices */
@media only screen and (min-width: 480px){
	
}

/* Small devices, tablets */
@media only screen and (min-width: 768px){
	#preview-box{
		width: 41%;
	}
}

/* Large devices, wide screens */
@media only screen and (min-width: 1200px){
	#preview-box{
		width: 33%;
	}
}

/* Really large devices, desktops */
@media only screen and (min-width: 1550px){
	#preview-box{
		width: 26%;
	}
}

/* Common for all resolutions */

#preview-box{
	position: absolute;
	top: 25%;
	margin-left: 25%;
}

#pb-detailBtn{
	margin-left: 10px;
}